.weather-header {
	background-image: url("../assets/Cumulus_clouds_in_fair_weather.jpeg");
	color: white;
}

.header-image {
	/* width: 100%; */
	/* height: 100px; */
	/* object-fit: cover; */
}

.cities-div {
	background-color: gray;
}

.current-weather-div {
	background-color: red;
}

.forecast-div {
	/* background-color: darkgreen; */
}

.current-weather-text {
	max-width: 200px;
}
